.goteo-project-mosaic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.goteo-project-mosaic > iframe {
  padding-bottom: 1em;
}

.goteo-settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.goteo-settings > div.wrap > form > p.submit {
  display: inline;
  padding: 1em;
}

.goteo-matcher-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.goteo-matcher-data > div.wrap {
  text-align:center;
  height: 10em;
}

.goteo-matcher-data > div.wrap > h1 {
  text-align:center
}

.goteo-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.goteo-button .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.goteo-button .btn-lilac {
  background-color: #a63c98;
  color: #ffffff;
}